<ol class="breadcrumb">
  <li><%= link_to "Home", english_index_path %></li>
  <li class="active"><%= @title %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-7">
    <h1 class="h1-ener"><%= @title %></h1>
    <p class="lead">“When science converges with nature, knowledge, progress, and therefore success arise.”</p>
    <p>Enerall is an agro-industrial company based in Yucatan that is transforming derelict land into arable land, with access to water, using proprietary soil transformation technology based on mechanical, biological, and organic processes.</p>
    <p>The strategic crop for Enerall is castor, which is currently produced with different hybrid seeds in Yucatan, Obregon, and Nayarit to meet the demand of our castor oil production plant, and to diversify geographical risk.</p>
    <p>The characteristics of the Yucatan Peninsula, together with Enerall’s soil transformation technology, enable two or more crop cycles that allow a gross profit per hectare higher than comparable international leaders. Enerall has achieved superior cost-efficiency than other local producers, as well as are highly competitive compared to the best agricultural areas of the country.</p>
    <p>Our staff capitalizes on over 30 years of experience, and has achieved world leadership in vegetable seed companies, agronomic crops, tobacco and genetic engineering.</p>
    <p>Enerall has the potential to become one of the most important agricultural projects in the world, as was the case of “El Cerrado in Brazil".</p>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title" align="center"><spam class="text-success">BEYOND AGRICULTURE</spam></p>
      </div>
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9 hidden-xs">
          <iframe width="560" height="315" src="//www.youtube.com/embed/sI9KAKoSPbA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>