<ol class="breadcrumb">
  <li><%= link_to "Inicio", root_path %></li>
  <li class="active"><%= @tit %></li>
</ol>
<div class="text-justify text-success">
  <div class="col-md-7">
    <h1 class="h1-ener"><%= @tit %></h1>
    <p class="lead">“Cuando la ciencia converge con la naturaleza surgen el conocimiento, el progreso y por lo tanto, el éxito.”</p>
    <p>Enerall es una empresa agro-industrial basada en Yucatán, que está transformando tierra en desuso en tierra arable con acceso a agua, utilizando tecnología propietaria basada en transformación mecánica, biológica y orgánica del suelo. La tierra convertida crea una plataforma agroindustrial competitiva a nivel internacional adecuada para una amplia variedad de cultivos.</p>
    <p>El cultivo estratégico de Enerall es la higuerilla, mismo que actualmente se produce con diferentes semillas híbridas en Yucatán, Obregón, y Nayarit para satisfacer la demanda de nuestra planta productora de aceite ricino, y diversificar el riesgo geográfico.</p>
    <p>Las características de la Península de Yucatán permiten dos o mas ciclos de cultivo en las tierras transformadas con la tecnología de Enerall, lo que permite una utilidad bruta por hectárea superior a la de líderes internacionales comparables. Enerall ha logrado una relación costo-rendimiento muy superior a los locales y altamente competitiva comparada con las mejores zonas agrícolas del País.</p>
    <p>Nuestro personal capitaliza más de 30 años de experiencia y liderazgo mundial logrados en empresas semilleras de hortalizas, cultivos agronómicos, tabaco e ingeniería genética.</p>
    <p>Enerall tiene potencial para convertirse en uno de los proyectos agrícolas más importantes del mundo, tal como fue el caso de El Cerrado en Brasil.</p>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title" align="center"><spam class="text-success">REINVENTANDO LA AGRICULTURA</spam></p>
      </div>
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9 hidden-xs">
          <iframe width="560" height="315" src="//www.youtube.com/embed/u_dnkaKxdEo_OLD" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>