<html> 
 <head> 
 <title>Redirigir al navegador a otra URL</title> 
 <META HTTP-EQUIV="REFRESH" CONTENT="1;URL=http://plenus.interaxes.org/enerall/_layouts/15/start.aspx#/_layouts/15/viewlsts.aspx"> 
 </head> 
 <body> 
 <p>Serás dirigido automáticamente al espacio de SharePoint de la Empresa Enerall.</p>
 <p>Si lo deseas puedes acceder a la  dirección dando un clic en el siguiente vínculo: <a href="http://plenus.interaxes.org/enerall/_layouts/15/start.aspx#/_layouts/15/viewlsts.aspx">Enerall/SharePoint</a></p>
</body> 
 </html> 